################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wad.Stream.Emulator/.vs/Wad.Stream.Emulator
/Wad.Stream.Emulator/obj
/.vs
